.toy {
  border-radius: 3px;
  background-color: #f4f5f5;

  > div {
    margin-bottom: 20px;
    background-color: #fff;
  }
}

.toy-container {
  text-align: center;

  .toy-link {
    font-size: 16px;
    color: #000;
  }

  .toy-title:hover {
    text-decoration: underline;
  }

  .toy-img {
    display: block;
    width: 100%;
    height: 250px;
    cursor: pointer;
  }
}