.block {
  width: 100%;
  height: 60px;
}

.main {
  padding: 30px 10%;
  background-color: #f4f5f5;

  &:after {
    clear: both;
  }
}

.center {
  width: 50%;
  margin: 0 15%;
}

.left {
  float: left;
  min-width: 200px;
}

.right {
  float: right;
  min-height: 200px;
}