@import '../../../styles/utils.less';

.articles {
  padding: 0 20px 20px 20px;
  margin-top: 40px;
}

.menu-list {
  .clearFloat();
  .setTextLine(60px);
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #000;

  .type-list {
    float: left;
    width: 392px;

    .article-type {
      .setTextLine(28px);
      padding: 0 15px;
      margin: 0 20px;
      border-top: 2px solid transparent;
      border-radius: 3px;
      background-color: #25252b;
      color: #ddd;

      &:hover {
        .article-type-hover();
      }
    }

    .article-type-hover {
      border-top-color: #d18e59;
      color: #5e068c;
      background-color: #fff;
      transition: color .3s, background-color .3s, border-color .3s;
      cursor: pointer;
    }
  }

  .search {
    float: right;
    width: calc(92% - 392px);
  }

  @media screen and (max-width: 1650px) {
    .search {
      display: none;
    }
  }
}

.article {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #999;
  
  .type {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 17px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background-color: #49f;
  }

  .title {
    font-size: 18px;
  }

  .article-img {
    float: right;
    height: 100px;
    width: 100px;
  }

  .text {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: normal;
    font-family: Consolas, -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC;
    color: #b2bac2
  }

  .brief {
    font-size: 16px;

    .time {
      color: #f00;
    }

    .article-evaluate {
      position: relative;
      left: 40%;

    }

    .fa {
      display: inline-block;
      margin: 0 10px;
    }

  }
}
