.solved-algorithm-list {
  padding: 100px;

  .algorithm-select-list-container {
    position: absolute;
    right: 7%;
    margin: 0 20px 20px 0;

    .algorithm-select-list {
      width: 150px;
    }
  }

  .problem-list {
    position: relative;
    top: 60px;
  }
}

.algorithm-link {
  color: #00f;
  text-decoration: underline;
}

.algorithm-problem-info {
  display: grid;
  grid-template-columns: 80px 300px;
  grid-template-rows: repeat(4, 50px);

  .algorithm-problem-title {
    padding-right: 8px;
    text-align: right;
    line-height: 35px;
  }
}