.solved-algorithm-list {
  padding: 100px;

  .algorithm-select-list-container {
    position: absolute;
    right: 7%;
    margin: 0 20px 20px 0;

    .algorithm-select-list {
      width: 150px;
    }
  }

  .problem-list {
    position: relative;
    top: 60px;
  }
}

.algorithm-link {
  color: #00f;
  text-decoration: underline;
}