@type-list-width: 140px;

.editor-title {
  position: relative;
  display: flex;
  align-items: center;
}

.editor-title-title {
  width: 70%;
  height: 61px;
  padding-left: 15px;
  border-color: transparent;
  border-width: 0;
  font-size: 24px;
  font-weight: 700;
}

.editor-title-tools {
  position: absolute;
  right: 30px;
  display: flex;

  > div {
    margin-right: 10px;
  }

  .editor-title-type-list {
    width: @type-list-width;
    line-height: 30px;
  }

  .editor-title-type-select {
    width: @type-list-width;
  }

  .editor-title-onload {
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #49f;
    color: #fff;
    transition: backgroudColor .2s;
  
    &:hover {
      background-color: #66b1ff;
    }
  }

}